<div class="nav nav-tabs">
  <div class="container">
    <h1>Knowledge Base</h1>
    <div class="pull-right" data-toggle="modal" data-target="#myModal">
      <button class="btn btn-default">
        Knowledge
      </button>
    </div>
    <div>
      <%= render "search"%>
    </div>
  </div>
</div>
<div class="container" >
  <% @knowledges.each do |knowledge| %>
    <p>
    <strong>
      <%= knowledge.title %>
    </strong>
    </p>
    <p>
      <%= knowledge.body %>
    </p>
  <% end %>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button> 
      </div>
      <div class="modal-body">
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>