<div class="navbar navbar-fixed-top">
  <ul class="nav nav-tabs">
    <li class="pull-left">
      <h1>KNOWLEDGE BASE</h1>
    </li>
    <div class="pull-right">
      <li>
        <button type="button" class="btn btn-log btn-default"><%= link_to "Knowledge", new_knowledge_path, remote: true %></button>
      </li>
    </div>  
  </ul>
  <div id="new_knowledge">
    
  </div>
  <div>
    <% @knowledges.each do |knowledge| %>
      <p>
      <strong>
        <%= knowledge.title %>
      </strong>
      </p>
      <p>
        <%= knowledge.body %>
      </p>
    <% end %>
  </div>
</div>